{% extends "core/base.html" %}
{% block title %}Contacto{% endblock %}

{% load static %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock background %}

{% block headers %}
<!-- Aquí puedes agregar meta etiquetas, enlaces a CSS adicionales, etc. -->
{% endblock headers %}

{% block content %}
<main class="contactUs">
    <div class="contactInfo">
        <h1>Contáctenos</h1>
        <h2>Estamos a su disposición</h2>
        <h2 class="contactInfo__title">¡Viajemos Juntos!</h2>
        <p class="contactInfo__text">Si deseas consultar mayor información sobre nuestros servicios o tienes alguna duda, no dudes en contactarnos y un integrante de nuestro equipo te contactará a la brevedad.</p>
        
        <div class="contactData">
            <img class="contactData__logo" src="{% static 'core/imagenes/whatsapp.png' %}" alt="Logo de WhatsApp" width="600" height="400">
            <p class="contactData__info">Contáctanos vía WhatsApp: +54 11-2291-9075</p>
        </div>
        
        <div class="contactData">
            <img class="contactData__logo" src="{% static 'core/imagenes/correo-electronico.png' %}" alt="Logo de Correo Electrónico" width="600" height="400">
            <p class="contactData__info">Email: <a href="mailto:contacto@compartiendomomentos.ar">contacto@compartiendomomentos.ar</a></p>
        </div>
    </div>
    
    <div class="formContainer">
        <h2 class="formContainer__title">Contáctanos</h2>
        <form class="formContainer__form" method="POST">
            {% csrf_token %}
            <div class="formContainer__group">
                <label class="formContainer__label" for="name">Nombre:</label>
                <input class="formContainer__input" type="text" id="name" name="name" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="surname">Apellido:</label>
                <input class="formContainer__input" type="text" id="surname" name="surname" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="tel">Teléfono:</label>
                <input class="formContainer__input" type="tel" id="tel" name="tel" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="email">Email:</label>
                <input class="formContainer__input" type="email" id="email" name="email" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="message">Mensaje:</label>
                <textarea class="formContainer__textArea" id="message" name="message" rows="4" required></textarea>
            </div>
            <div class="formContainer__buttonArea">
                <button class="formContainer__button" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}
