{% extends "core/base.html" %}
{% block title %}Página no encontrada {% endblock %}
{% block content %}
<h1>Página no encontrada</h1>
<p>Lo sentimos, pero la página que buscas no ha sido encontrada.</p>
{% endblock %}^
         <footer>
          <div class="container">
             <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <ul class="list-inline text-center">
                 <li class="list-inline-item">
                    <a href="https://twitter.com/tu_usuario" target="_blank">
                      <span class="fa-stack fa-lg">
                         <i class="fas fa-circle fa-stack-2x"></i>
                         <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                 </li>
                 <li class="list-inline-item">
                    <a href="https://facebook.com/tu_usuario" target="_blank">
                      <span class="fa-stack fa-lg">
                         <i class="fas fa-circle fa-stack-2x"></i>
                         <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                 </li>
                 <li class="list-inline-item">
                    <a href="https://instagram.com/tu_usuario" target="_blank">