{% extends "core/base.html" %}
{% block title %}Registrarse{% endblock %}

{% load static %}

{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
{% endblock%}
{% block content %}
<!-- Proyecto -->
<main class="contactUs">
    <div class="contactInfo">
        <h1>Su Registro Seguro</h1>
        <h2>Estamos a su disposición</h2>
        <h2 class="contactInfo__title">¡Viajemos Juntos!</h2>
        <p class="contactInfo__text">Su información personal no será compartida con terceros sin su consentimiento explícito.</p>
        <p class="contactInfo__text">Implementamos medidas de seguridad avanzadas para proteger sus datos contra accesos no autorizados, alteraciones o divulgaciones.</p>
        <p class="contactInfo__text"> Los datos recaudados se utilizarán exclusivamente para mejorar su experiencia con nuestros servicios y para mantenerlo informado sobre nuestras novedades y ofertas.</p>
        
        <div class="contactData">
            <img class="contactData__logo" src="{% static 'core/imagenes/whatsapp.png' %}" alt="Logo de WhatsApp" width="600" height="400">
            <p class="contactData__info">Contáctanos vía WhatsApp: +54 11-2291-9075</p>
        </div>
        
        <div class="contactData">
            <img class="contactData__logo" src="{% static 'core/imagenes/correo-electronico.png' %}" alt="Logo de Correo Electrónico" width="600" height="400">
            <p class="contactData__info">Email: <a href="mailto:contacto@compartiendomomentos.ar">contacto@compartiendomomentos.ar</a></p>
        </div>
    </div>
    <div class="formContainer">
        <h2 class="formContainer__title">Registrese</h2>
            <form class="formContainer__form" method="POST">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <h3 style="color: red;">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}


            <div class="formContainer__group">
                <label class="formContainer__label" for="name">Nombre:</label>
                <input class="formContainer__input" type="text" id="nombre" name="nombre" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="surname">Apellido:</label>
                <input class="formContainer__input" type="text" id="apellido" name="apellido" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="dni">DNI:</label>
                <input class="formContainer__input" type="dni" id="dni" name="dni" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="correo">Email:</label>
                <input class="formContainer__input" type="correo" id="correo" name="correo" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="tel">Celular:</label>
                <input class="formContainer__input" type="tel" id="celular" name="celular" required>
            </div>            
            <div class="formContainer__group">
                <label class="formContainer__label" for="usuario">Usuario:</label>
                <input class="formContainer__input" type="usuario" id="usuario" name="usuario" required>
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="password">Contraseña:</label>
                <input class="formContainer__input" type="password" id="password1" name="password" required id="id_password1">
            </div>
            <div class="formContainer__group">
                <label class="formContainer__label" for="password">Verificación de contraseña:</label>
                <input class="formContainer__input" type="password" id="password2" name="verificacion" required id="verificacion">
            </div>
            <div class="formContainer__buttonArea">
                <button class="formContainer__button" type="submit">Enviar</button>
            </div>
        </form>
    </main>
    
<!-- Proyecto -->
{% endblock %}
